---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_pkg_mgr == 'apt'
  changed_when: false
  become: true

- name: Install stow and git
  ansible.builtin.package:
    name:
      - stow
      - git
    state: present
  # https://stackoverflow.com/a/63734604/2359478
  become: "{{ 'false' if ansible_pkg_mgr == 'brew' else 'true' }}"

- name: Ensure dotfiles repository is cloned locally
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ dotfiles_repo_local_destination }}"
    version: "{{ dotfiles_repo_version }}"
    accept_hostkey: "{{ dotfiles_repo_accept_hostkey }}"
  become: false

- name: Build directories list
  ansible.builtin.find:
    paths: ["{{ dotfiles_repo_local_destination }}"]
    recurse: no
    file_type: directory
  register: files
  become: false

- name: Deploy dotfiles
  with_items: '{{ files.files }}'
  ansible.builtin.command: stow --target={{ dotfiles_home }} {{ item.path | basename }}
  changed_when: false
  become: false
